:root {
    --main-font: "Roboto", sans-sarif;
    --main-color: #2E2F42;
    --background-color: #FFFFFF;
    --logo-color: #4d5ae5;
}

body {
    font-family: "Roboto", sans-sarif;
    color: #434455;
    background-color: var(--background-color);
}

ul li {
        list-style-type: none;

}

.link {
    text-decoration: none;
}

.logo_name {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--logo-color);
}

.address_info {
    color: #434455;
    line-height: 1.5;
}

.nav_menu {
    color: var(--main-color);
    font-weight: 500;
    line-height: 1.5;
}

.span_logo {
    color: var(--main-color);
}



